* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.padre {
  width: 95%;
  height: 700px;
  font-family: "Exo", sans-serif;
  color: #d60000;
  margin: 1em auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.banner, .banner1, .banner2 {
  background-image: radial-gradient(circle at -4.32% 18.64%, #a3ffff 0, #7cffff 25%, #3cf2f2 50%, #00dbe4 75%, #00c9db 100%);
  overflow: hidden;
  height: 95%;
  margin: 1.2em;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center; }
  .banner img, .banner1 img, .banner2 img {
    background-size: cover;
    opacity: 0;
    position: absolute;
    transition: all 3s ease;
    z-index: 0; }
    .banner img:hover, .banner1 img:hover, .banner2 img:hover {
      opacity: 0.6;
      transition: all 3s ease; }
  .banner .titulo, .banner1 .titulo, .banner2 .titulo, .banner .subtitulo, .banner1 .subtitulo, .banner2 .subtitulo {
    position: absolute;
    z-index: 1;
    transition: all 3s ease; }
  .banner:hover .titulo, .banner1:hover .titulo, .banner2:hover .titulo, .banner:hover .subtitulo, .banner1:hover .subtitulo, .banner2:hover .subtitulo {
    color: black;
    transition: all 3s ease; }

.banner1 {
  width: 60%; }

.banner2 {
  width: 40%; }

.cards {
  width: 95%;
  height: 700px;
  display: flex;
  margin: 1em auto;
  justify-content: center; }

.info, .info1, .info2, .info3 {
  width: 500px;
  height: 700px;
  margin: 2em;
  background-image: linear-gradient(170deg, #00ffff 0, #00f7ff 25%, #3cb5f2 50%, #3e789f 75%, #304558 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  flex-wrap: wrap;
  text-align: center;
  position: relative; }
  .info:before, .info1:before, .info2:before, .info3:before, .info:after, .info1:after, .info2:after, .info3:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    background: white;
    transition: all .3s; }
  .info:before, .info1:before, .info2:before, .info3:before {
    bottom: 0;
    width: 0;
    height: 3px;
    box-shadow: 500px -697px white; }
  .info:after, .info1:after, .info2:after, .info3:after {
    top: 0;
    width: 3px;
    height: 0;
    box-shadow: 497px 700px white; }
  .info:hover:after, .info1:hover:after, .info2:hover:after, .info3:hover:after {
    height: 100%;
    box-shadow: 497px 0 white; }
  .info:hover:before, .info1:hover:before, .info2:hover:before, .info3:hover:before {
    width: 100%;
    box-shadow: 0 -697px white; }

.ads {
  font-family: "Titan One", cursive;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 7em auto; }

.titulo {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 80px;
  transition: all 3s ease; }

.titulo:hover {
  transform: scale(1.09, 1.09); }

.subtitulo {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 50px;
  transition: all 3s ease; }

.subtitulo:hover {
  transform: scale(1.05, 1.05); }

.adsTexto {
  padding: 50px;
  margin-right: 100px; }

.carousel-inner img {
  width: 100%;
  height: 100%; }

.profesores {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  margin: auto;
  text-align: center;
  padding: 10px;
  margin: 100px; }

p {
  font: normal 30px/1.5 "Exo", sans-serif;
  padding: 20px; }

.contenedorMaterias {
  width: 100%;
  height: 2700px;
  font-family: 'Exo', sans-serif;
  color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 100px;
  grid-template-areas: "pres pres pres" "texto texto foto" "foto2 texto2 texto2" "texto3 texto3 foto3" "end end end"; }

.pres {
  grid-area: pres;
  font-family: 'Titan One', cursive;
  font-size: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 300px; }

.texto {
  grid-area: texto;
  font-family: 'Titan One', cursive;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center; }

.foto {
  background-image: url(../media/mathsp.png);
  grid-area: foto;
  background-repeat: no-repeat; }

.texto2 {
  grid-area: texto2;
  font-family: "Titan One", cursive;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center; }

.foto2 {
  background-image: url(../media/quimicap.png);
  grid-area: foto2;
  background-repeat: no-repeat;
  width: 268px;
  height: 300px;
  margin-left: 30px; }

.texto3 {
  grid-area: texto3;
  font-family: "Titan One", cursive;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center; }

.texto3:hover {
  transition: all 2s;
  transform: scale(1.01, 1.01); }

.foto3 {
  background-image: url(../media/fisica2.png);
  grid-area: foto3;
  background-repeat: no-repeat;
  width: 268px;
  height: 300px;
  margin-left: 30px; }

.end {
  grid-area: end;
  font-family: "Titan One", cursive;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px; }

header {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 50px; }

header .logo {
  float: left;
  font-size: 50px;
  font-family: 'Exo', sans-serif;
  color: #555050;
  line-height: 200px;
  color: white;
  margin-left: 20px;
  text-decoration: none; }

.nav-edit {
  margin-right: 13%;
  font-size: 20px;
  font-family: 'Shippori Antique', sans-serif; }

footer {
  background-color: rgba(6, 17, 9, 0.877);
  width: 100%;
  padding: 50px 0px;
  margin: auto;
  margin-top: 40px;
  color: white;
  margin: auto;
  margin-top: 20px;
  text-decoration: none; }

.contactoTexto {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 60px;
  text-decoration: none; }

.redes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

footer a .fab {
  font-size: 20px; }

.botones {
  width: 300px; }

footer svg {
  justify-content: center;
  align-items: center; }

.contacto {
  width: 80%;
  height: 700px;
  overflow: hidden;
  border: 3px black solid;
  margin: auto;
  border-radius: 20px;
  display: flex;
  justify-content: center; }

.row {
  display: flex;
  justify-content: space-around; }

legend {
  text-align: center;
  font-size: 30px;
  font-family: 'Exo', sans-serif; }

.caja-1 {
  background-image: radial-gradient(circle at 120.71% 50%, #89ffff 0, #6effff 12.5%, #55ffff 25%, #43ffff 37.5%, #3cf2f2 50%, #3dd6de 62.5%, #40becc 75%, #44a9bb 87.5%, #4798ac 100%);
  color: black;
  display: inline-block;
  padding: 10px;
  margin: 30px;
  width: 40%;
  text-align: center;
  height: 500px; }

.caja-2 {
  background-image: radial-gradient(circle at -17.35% 44.11%, #8cffff 0, #6fffff 12.5%, #56ffff 25%, #44ffff 37.5%, #3cf2f2 50%, #3dd5de 62.5%, #40bdcb 75%, #44a8ba 87.5%, #4796ab 100%);
  color: black;
  display: inline-block;
  padding: 10px;
  margin: 30px;
  width: 40%;
  text-align: center;
  height: 500px; }

.caja-3 {
  background-image: radial-gradient(circle at 120.71% 50%, #89ffff 0, #6effff 12.5%, #55ffff 25%, #43ffff 37.5%, #3cf2f2 50%, #3dd6de 62.5%, #40becc 75%, #44a9bb 87.5%, #4798ac 100%);
  color: black;
  display: inline-block;
  padding: 10px;
  margin: 30px;
  width: 40%;
  text-align: center;
  height: 500px; }

.caja-4 {
  background-image: radial-gradient(circle at -17.35% 44.11%, #8cffff 0, #6fffff 12.5%, #56ffff 25%, #44ffff 37.5%, #3cf2f2 50%, #3dd5de 62.5%, #40bdcb 75%, #44a8ba 87.5%, #4796ab 100%);
  color: black;
  display: inline-block;
  padding: 10px;
  margin: 30px;
  width: 40%;
  text-align: center;
  height: 500px; }

.caja {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px; }

body {
  background-image: linear-gradient(170deg, #beffff 0, #87dcff 25%, #3cb5f2 50%, #0090d6 75%, #006fbd 100%);
  min-height: 100vh; }

.menu {
  width: 90%;
  max-width: 1000px;
  overflow: hidden;
  margin: auto; }

main {
  width: 100%;
  margin: auto;
  overflow: hidden; }

@media only screen and (max-width: 768px) {
  p {
    font: normal 8px/1.5 "Exo", sans-serif;
    padding: 5px; }
  .padre {
    width: 95%;
    height: 700px;
    font-family: "Exo", sans-serif;
    color: #d60000;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; }
  .banner, .banner1, .banner2, .banner1, .banner2 {
    background-image: radial-gradient(circle at -4.32% 18.64%, #a3ffff 0, #7cffff 25%, #3cf2f2 50%, #00dbe4 75%, #00c9db 100%);
    width: 100%;
    height: 95%;
    margin: 1.2em auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center; }
  .cards {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    justify-content: center;
    align-items: center; }
    .cards p {
      font-size: 20px; }
  .info1, .info2, .info3 {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(170deg, #00ffff 0, #00f7ff 25%, #3cb5f2 50%, #3e789f 75%, #304558 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    flex-wrap: wrap;
    text-align: center; }
  .caja-1 {
    background-image: radial-gradient(circle at 120.71% 50%, #89ffff 0, #6effff 12.5%, #55ffff 25%, #43ffff 37.5%, #3cf2f2 50%, #3dd6de 62.5%, #40becc 75%, #44a9bb 87.5%, #4798ac 100%);
    color: black;
    display: inline-block;
    padding: 5px;
    margin: 15px;
    width: 20%;
    text-align: center;
    height: 250px; }
  .caja-2 {
    background-image: radial-gradient(circle at -17.35% 44.11%, #8cffff 0, #6fffff 12.5%, #56ffff 25%, #44ffff 37.5%, #3cf2f2 50%, #3dd5de 62.5%, #40bdcb 75%, #44a8ba 87.5%, #4796ab 100%);
    color: black;
    display: inline-block;
    padding: 5px;
    margin: 15px;
    width: 20%;
    text-align: center;
    height: 250px; }
  .caja-3 {
    background-image: radial-gradient(circle at 120.71% 50%, #89ffff 0, #6effff 12.5%, #55ffff 25%, #43ffff 37.5%, #3cf2f2 50%, #3dd6de 62.5%, #40becc 75%, #44a9bb 87.5%, #4798ac 100%);
    color: black;
    display: inline-block;
    padding: 5px;
    margin: 15px;
    width: 20%;
    text-align: center;
    height: 250px; }
  .caja-4 {
    background-image: radial-gradient(circle at -17.35% 44.11%, #8cffff 0, #6fffff 12.5%, #56ffff 25%, #44ffff 37.5%, #3cf2f2 50%, #3dd5de 62.5%, #40bdcb 75%, #44a8ba 87.5%, #4796ab 100%);
    color: black;
    display: inline-block;
    padding: 5px;
    margin: 15px;
    width: 20%;
    text-align: center;
    height: 250px; }
  .caja {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px; }
  .form {
    width: 500px;
    height: 700px;
    overflow: hidden;
    border: 3px black solid;
    margin: auto;
    border-radius: 20px; }
  legend {
    text-align: center;
    font-size: 30px;
    font-family: 'Exo', sans-serif; }
  .contenedorMaterias {
    width: 100%;
    height: 2500px;
    font-family: 'Exo', sans-serif;
    color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-row-gap: 100px;
    grid-template-areas: "pres pres pres" "foto foto foto" "texto texto texto" "foto2 foto2 foto2" "texto2 texto2 texto2" "foto3 foto3 foto3" "texto3 texto3 texto3"; }
    .contenedorMaterias .subtitulo {
      font-size: 15px; }
    .contenedorMaterias .titulo {
      font-size: 20px; }
  .foto {
    background-image: url(../media/mathscelu.png);
    grid-area: foto;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: auto; }
  .foto2 {
    background-image: url(../media/quimicacelu.png);
    grid-area: foto2;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin: auto; }
  .foto3 {
    background-image: url(../media/fisicacelu.png);
    grid-area: foto3;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin: auto; }
  .caja-1 {
    background-image: radial-gradient(circle at 120.71% 50%, #89ffff 0, #6effff 12.5%, #55ffff 25%, #43ffff 37.5%, #3cf2f2 50%, #3dd6de 62.5%, #40becc 75%, #44a9bb 87.5%, #4798ac 100%);
    color: black;
    display: inline-block;
    padding: 10px;
    margin: 30px auto;
    width: 100%;
    text-align: center;
    height: 400px; }
    .caja-1 p {
      font-size: 20px; }
  .caja-2 {
    background-image: radial-gradient(circle at -17.35% 44.11%, #8cffff 0, #6fffff 12.5%, #56ffff 25%, #44ffff 37.5%, #3cf2f2 50%, #3dd5de 62.5%, #40bdcb 75%, #44a8ba 87.5%, #4796ab 100%);
    color: black;
    display: inline-block;
    padding: 10px;
    margin: 30px auto;
    width: 100%;
    text-align: center;
    height: 400px; }
    .caja-2 p {
      font-size: 20px; }
  .caja-3 {
    background-image: radial-gradient(circle at 120.71% 50%, #89ffff 0, #6effff 12.5%, #55ffff 25%, #43ffff 37.5%, #3cf2f2 50%, #3dd6de 62.5%, #40becc 75%, #44a9bb 87.5%, #4798ac 100%);
    color: black;
    display: inline-block;
    padding: 10px;
    margin: 30px auto;
    width: 100%;
    text-align: center;
    height: 400px; }
    .caja-3 p {
      font-size: 20px; }
  .caja-4 {
    background-image: radial-gradient(circle at -17.35% 44.11%, #8cffff 0, #6fffff 12.5%, #56ffff 25%, #44ffff 37.5%, #3cf2f2 50%, #3dd5de 62.5%, #40bdcb 75%, #44a8ba 87.5%, #4796ab 100%);
    color: black;
    display: inline-block;
    padding: 10px;
    margin: 30px auto;
    width: 100%;
    text-align: center;
    height: 400px; }
    .caja-4 p {
      font-size: 20px; }
  .caja {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px; }
  .carousel p {
    font-size: 20px; }
  footer .titulo {
    font-size: 25px; } }
