
@mixin estiloCaja ($bgfaq) {
    background-image: $bgfaq;
    color:black;
    display: inline-block;
    padding: 10px;
    margin: 30px;
    width: 40%;
    text-align: center;
    height: 500px;
}

.caja-1{
    @include estiloCaja($bgfaq1)
}

.caja-2{
    @include estiloCaja($bgfaq2)
}

.caja-3{
    @include estiloCaja($bgfaq1)
}

.caja-4{
    @include estiloCaja($bgfaq2)
}

.caja{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}