body{
    background-image: linear-gradient(170deg, #beffff 0, #87dcff 25%, #3cb5f2 50%, #0090d6 75%, #006fbd 100%);
}
.menu{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
}

main{
    width: 100%;
    margin: auto;
    overflow: hidden;
}