.gridPadre{
    width: 90%;
    height: 2000px;
    font-family: $fuente3;
    color: rgb(0, 0, 0);
    margin: auto;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 30px;
    grid-row-gap: 150px;
    grid-template-areas: 
    "banner1 banner1 banner2"
    "banner1 banner1 banner2"
    "info1 info2 info3"
    "info1 info2 info3"
    "ads ads ads"
    ;
}

.banner{
    background-image: $bgbanner;
    overflow: hidden;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    flex-wrap: wrap; 
    text-align: center;
    &:hover {
        transition: all 3s;
        transform: scale(1.01, 1.01); }
}

.banner1{
    @extend .banner;
    grid-area: banner1;
}

.banner2{
    @extend .banner;
    grid-area: banner2;
} 

    .info {
        $borde-color: rgb(255, 255, 255);
        @function restov () {
            @return -(710px - $borde-widht)
        }
        @function restoh () {
            @return (500px - $borde-widht)
        }
        $borde-widht:3px;
        width: $widhtinfo;
        background-image: $bginfo;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        color: white;
        flex-wrap: wrap;
        text-align: center;
        position: relative;
        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            background: $borde-color;
            transition: all .3s;
        }
        &:before {
            bottom: 0;
            width: 0;
            height: $borde-widht;
            box-shadow: 500px restov() $borde-color;
        }
        &:after {
            top: 0;
            width: $borde-widht;
            height: 0;
            box-shadow: restoh() 710px $borde-color;
        }
        &:hover {
            &:after {
                height: 100%;
                box-shadow: restoh() 0 $borde-color;
            }
            &:before {
                width: 100%;
                box-shadow: 0 restov() $borde-color;
            }
        }
    }
    
    .info1 {
        @extend .info;
        grid-area: info1;
    }
    
    .info2 {
        @extend .info;
        grid-area: info2;
    }
    
    .info3 {
        @extend .info;
        grid-area: info3;
    }
    
    .ads {
        grid-area: ads;
        font-family: $fuente2;
        font-size: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: rgb(0, 0, 0);
    }

.titulo{
    font-family: $fuente1;  color: white;
    font-size: 90px;
    transition: all 3s ease;
}

.titulo:hover{
    transform: scale(1.09,1.09);
}
.subtitulo{
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-size: 60px;
    transition: all 3s ease;
}

.subtitulo:hover{
    transform: scale(1.1,1.1);
}

.adsTexto{
    padding: 50px;
    margin-left: 50px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .profesores {
      font-family: $fuente1;
      font-size: 50px;
      margin: auto;
      text-align: center;
      padding: 10px;
      margin: 100px;
  }
p{
    font:$font-p;
    padding: 20px;
}