$fuente1:'Montserrat', sans-serif;
$bginfo: linear-gradient(170deg, #00ffff 0, #00f7ff 25%, #3cb5f2 50%, #3e789f 75%, #304558 100%);
$fuente2: 'Titan One', cursive;
$font-p:normal 30px/1.5 'Exo', sans-serif;
$widhtinfo:500px;
$bgbanner:radial-gradient(circle at -4.32% 18.64%, #a3ffff 0, #7cffff 25%, #3cf2f2 50%, #00dbe4 75%, #00c9db 100%);
$fuente3: 'Exo', sans-serif;