$fuente1:'Montserrat', sans-serif;
$bginfo: linear-gradient(170deg, #00ffff 0, #00f7ff 25%, #3cb5f2 50%, #3e789f 75%, #304558 100%);
$fuente2: 'Titan One', cursive;
$font-p:normal 30px/1.5 'Exo', sans-serif;
$widhtinfo:500px;
$bgbanner:radial-gradient(circle at -4.32% 18.64%, #a3ffff 0, #7cffff 25%, #3cf2f2 50%, #00dbe4 75%, #00c9db 100%);
$fuente3: 'Exo', sans-serif;
$bgfaq1:radial-gradient(circle at 120.71% 50%, #89ffff 0, #6effff 12.5%, #55ffff 25%, #43ffff 37.5%, #3cf2f2 50%, #3dd6de 62.5%, #40becc 75%, #44a9bb 87.5%, #4798ac 100%);
$bgfaq2:radial-gradient(circle at -17.35% 44.11%, #8cffff 0, #6fffff 12.5%, #56ffff 25%, #44ffff 37.5%, #3cf2f2 50%, #3dd5de 62.5%, #40bdcb 75%, #44a8ba 87.5%, #4796ab 100%);
$font-p-m:normal 8px/1.5 'Exo', sans-serif;