$fuente1:'Montserrat', sans-serif;
$bginfo: linear-gradient(170deg, #00ffff 0, #00f7ff 25%, #3cb5f2 50%, #3e789f 75%, #304558 100%);
$fuente2: 'Titan One', cursive;
$font-p:normal 30px/1.5 'Exo', sans-serif;
$widhtinfo:500px;