*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "index";
@import "materias";
@import "header";
@import "variables";
@import "footer";
@import "contacto";
@import "faq";

body{
    background-image: linear-gradient(170deg, #beffff 0, #87dcff 25%, #3cb5f2 50%, #0090d6 75%, #006fbd 100%);
}
.menu{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
}

main{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

/* estilo del index */



/* Fin del estilo del index */

/* Estilo de materias */



 

/* Fin estilo de materias */

/* Estilo de contacto */

/* Fin estilo de contacto */

/* Estilo de faq */



/*medias querrys*/
@media only screen and (max-width: 768px){
    
    .gridPadre{
       width: 100%;
       height: 2200px;
       font-family: 'Exo', sans-serif;
       color: rgb(0, 0, 0);
       display: grid;
       grid-template-columns:repeat(3, 1fr);
       grid-template-rows: repeat(7, 1fr);
       gap: 40px;
       grid-template-areas: 
       "banner banner banner"
       "banner banner banner"
       "banner2 banner2 banner2"
       "info1 info1 info1"
       "info2 info2 info2"
       "info3 info3 info3"
       "ads ads ads"
    }
    .titulo{
       font-family: 'Montserrat', sans-serif;  color: rgb(0, 0, 0);
       font-size: 30px;
   }
   .subtitulo{
       font-family: 'Montserrat', sans-serif;
       color: rgb(0, 0, 0);
       font-size: 20px;
   }
   .info1 img{
       width: 40%;
       height: 40%;
   }
   
   .info2 img{
       width: 40%;
       height: 40%;
   }
   
   .info3 img{
       width: 40%;
       height: 40%;
   }
   .caja{
    width: 90%;
    height: auto;
    margin: auto;
    overflow: hidden;
    border: 1px black solid;
    border-radius: 15px;
    display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: flex-start;
}
.p1{
    width: 100%;
    height: 300px;
    background-color: tomato;
    text-align: center;
}
.p2{
    width: 100%;
    height: 300px;
    background-color: rgb(208, 240, 92);
}
.p3{
    width: 100%;
    height: 300px;
    background-color: chocolate;
}
.p4{
    width: 100%;
    height: 300px;
    background-color: rgb(184, 197, 134);
}
.p5{
    width: 100%;
    height: 300px;
    background-color: rgb(113, 253, 230);
}
.p6{
    width: 100%;
    height: 300px;
    background-color: rgb(190, 120, 69);
}
.form{
    width: 500px;
    height: 700px;
    overflow: hidden;
    border: 3px black solid;
    margin: auto;
    border-radius: 20px;
}
legend{
    text-align: center;
    font-size: 30px;
    font-family: 'Exo', sans-serif;
}

.contenedorMaterias{
    width: 100%;
    height: 2500px;
    font-family: 'Exo', sans-serif;
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-row-gap: 100px;
    grid-template-areas: 
    "pres pres pres"
    "foto foto foto"
    "texto texto texto"
    "foto2 foto2 foto2"
    "texto2 texto2 texto2"
    "foto3 foto3 foto3"
    "texto3 texto3 texto3"
    ;
}

.foto{
    background-image: url(../media/mathscelu.png);
    grid-area: foto;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: auto;
}

.foto2{
    background-image: url(../media/quimicacelu.png);
    grid-area: foto2;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin: auto;
}
.foto3{
    background-image: url(../media/fisicacelu.png);
    grid-area: foto3;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin:auto;
}

}
