*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "variables";
@import "index";
@import "materias";
@import "header";
@import "footer";
@import "contacto";
@import "faq";
@import "mediaquerrys";
@import "general";




